div#about {
    background-color: transparent;

    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
       -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
        -ms-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
         -o-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);

    text-align: center;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div#about > h1 {
    color: #909090;
    font-size: 300%;
    font-weight: normal;
    font-variant: normal;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

div#about > h5 {
    color: #c0c0c0;
    font-size: 100%;
    font-weight: normal;
    font-variant: normal;
}