div#about {
    background-color: #ffffff;

    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
       -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
        -ms-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
         -o-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);

    text-align: center;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div#about > h1 {
    color: #00897b;
    font-size: 300%;
    font-weight: normal;
    font-variant: normal;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

div#about > h5 {
    color: #c0c0c0;
    font-size: 100%;
    font-weight: normal;
    font-variant: normal;
}

div#about ul {
	width: 100%;
	text-align: left;
}

div#about ul,
div#about ul > li,
div#about ul > li > ul,
div#about ul > li > ul > li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

div#about > ul {
    border-top: 1px solid #efefef;
    padding-top: 15px;
    position: relative;
}

div#about ul > li.label,
div#about ul > li.value {
	display: inline-block;
}

div#about ul > li li {
	height: 30px;
}

div#about ul > li li span {
	line-height: 30px;
}

div#about ul > li.label li {
	padding-left: 10px;
}

div#about ul > li.label li span {
	color: #00897b;
    font-weight: bold;
    font-size: 15px;
}

div#about ul > li.value li span {
	color: #707070;
}

div#about ul > li.value li {
	max-width: 100%;
}

div#about ul > li.label li,
div#about ul > li.value li {
	padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}