.scroll-wrapper {
    overflow: hidden;

    .scroll-content {
        position: relative;
        overflow: auto;
        // padding-bottom: 5px;
        padding-right: 20px;
        margin-right: -25px;
    }

    .scroll-vertical {
        background-color: red;
        position: absolute;
        width: 10px;
        height: 100px;
        top: 0;
        right: 0;
    }

    .scroll-horizontal {

    }
}