div#about {
    background-color: #ffffff;
    overflow: hidden;

    @include box-shadow(1px 1px 3px rgba(0, 0, 0, 0.20));

    text-align: center;
    padding: 5px;
    margin-bottom: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    & > h1 {
        color: #00897b;
        font-size: 300%;
        font-weight: normal;
        font-variant: normal;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);

        &.small {
            font-size: 20px;
        }
    }

    & > h5 {
        color: #c0c0c0;
        font-size: 100%;
        font-weight: normal;
        font-variant: normal;
    }
}

div#about > ul {
	width: 100%;
	text-align: left;
}

div#about > ul,
div#about > ul > li,
div#about > ul > li > ul,
div#about > ul > li > ul > li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

div#about > ul {
    border-top: 1px solid #efefef;
    padding-top: 15px;
    padding-bottom: 10px;
    position: relative;
    overflow: auto;

    & > li.label,
    & > li.value {
        height: 30px;
    	display: inline-block;

        li {
            padding-left: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        span {
            line-height: 30px;
        }
    }

    & > li.label li {
        padding-left: 10px;

        span {
            color: #00897b;
            font-weight: bold;
            font-size: 15px;
        }
    }

    & > li.value li {
        max-width: 100%;

        span {
            color: #707070;
        }
    }

    & > li.message {
        display: block;
        word-wrap: break-word;

        & > div {
            &.title {
                padding: 15px;
                text-align: center;

                span {
                    color: #00897b;
                    font-weight: bold;
                }
            }

            &.content {
                padding: 10px;
                text-align: left;

                span {
                    color: #505050;
                }
            }
        }

        &.show-hidden {
            position: relative;

            & > div.content {
                max-height: 250px;
                overflow: hidden;
            }
        }

        &.divider-top {
            border-top: 1px dashed #dadada;
            margin-top: 10px;
        }

        &.divider-bottom {
            border-bottom: 1px dashed #dadada;
        }

        #show-readme,
        #show-changelog {
            &:target {
                max-height: 100%;
                height: auto;
                overflow: none;

                & + a.show {
                    display: none;
                }
            }

            & + a.show {
                display: inline-block;
                text-align: center;
                padding-top: 10px;
                padding-bottom: 10px;
                width: 100%;
            }
        }
    }
}

div.about-button-check {
    border-top: 1px solid #efefef;
    width: auto;
    padding: 10px;

    * {
        color: #707070;
        font-weight: bold;
    }
}