div.editor-highlight {
    border: 1px solid #e0e0e0;
    position: relative;
    height: 480px;
    overflow: hidden;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;

    textarea {
        position: absolute;
        display: inline-block;
        top: 0;
        left: 0;
        opacity: 0.5;
    }

    div.editor-highlight-box-parent {
        position: relative;
        top: 0;
        left: 0;

        div.editor-highlight-box-line,
        pre.editor-highlight-content {
            font-family: monospace;
            font-size: 15px;
            line-height: 25px;
            position: relative;
            top: 0;
        }

        div.editor-highlight-box-line {
            background-color: #e0e0e0;
            position: absolute;
            top: 0;
            left: 0;
            margin: 0;
            padding: 0;
            padding-left: 10px;
            padding-right: 10px;
            z-index: 1;

            span {
                color: #505050;
                display: block;
            }
        }

        div.editor-highlight-box-content {
            position: relative;
            overflow: scroll;
            top: 0;
            left: 50px;
            height: 480px;
            margin: 0;
            padding: 0;
            z-index: 0;

            pre.editor-highlight-content {
                color: #505050;
                position: relative;
                top: 0;
                left: 0;
                margin: 0;
                padding: 0;
                padding-right: 10px;
            }

            div.editor-highlight-box-cursor {
                position: absolute;
                top: 0;
                left: 0;
                width: 1px;
                height: 20px;
            }
        }
    }
}