ul.location-path,
ul.location-path li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.location-path {
    background-color: #ffffff;
    display: block;

    @include box-shadow(1px 1px 2px rgba(0, 0, 0, 0.15));

    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;

    li {
        height: 45px;
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        span {
            color: #505050;
            font-weight: bold;
            font-size: $font-size;
            line-height: 45px;
        }

        a:hover span,
        a:focus span {
            color: #909090;
            font-weight: bold;
        }
    }
}


ul.file-list,
ul.file-list > li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

ul.file-list {
    $border-color: #e0e0e0;

    overflow: hidden;
    background-color: #ffffff;
    margin: 0;
    margin-bottom: 15px;
    text-align: center;

    @include box-shadow(1px 1px 2px rgba(0, 0, 0, 0.15));

    & > li {
        border-bottom: 1px dashed $border-color;

        @include box-sizing(border-box);

        float: left;
        width: 50%;
        height: 45px;
        position: relative;
        padding-left: 12px;
        padding-right: 12px;
        text-align: left;

        &.is-end-list-option + li:last-child {
            border-bottom: 0;
        }

        &:last-child:not(.is-end-list-option) {
            border-bottom: 0;
        }

        @media all and (max-width: 780px) {
            & {
                width: 100%;
            }

            &.is-end-list-option:nth-last-child(2) {
                border-bottom: 0;
            }
        }

        @media all and (min-width: 780px) {
            &.has-first-not-entry.is-end-list-option:nth-last-child(2):nth-child(even),
            &.has-first-not-entry.is-end-list-option:nth-last-child(2):nth-child(odd),
            &.has-first-not-entry.is-end-list-option:nth-last-child(3):nth-child(even) {
                border-bottom: 0;
            }

            &.is-end-list-option:nth-last-child(2):not(.has-first-not-entry):nth-child(odd),
            &.is-end-list-option:nth-last-child(2):not(.has-first-not-entry):nth-child(even),
            &.is-end-list-option:nth-last-child(3):not(.has-first-not-entry):nth-child(odd) {
                border-bottom: 0;
            }

            &:nth-last-child(2):not(.is-end-list-option):not(.back) {
                border-bottom: 0;
            }
        }

        & > a {
            line-height: 45px;
        }

        & a {
            &:hover {
                color: #909090;

                span,
                strong {
                    color: #909090;
                }

                span.icomoon {
                    color: #ffd300;
                }
            }
        }

        span.icomoon {
            font-size: 20px;
            margin-right: 5px;
            line-height: 45px;
            vertical-align: middle;
        }

        &.back,
        &.empty,
        &.end-list-option {
            margin: 0;
            width: 100%;
        }

        &.end-list-option {
            border-top: 1px dashed $border-color;
            float: left;
            width: 100%;
            margin: 0;
            padding: 0;
            height: auto;

            div {
                display: block;
                margin: 0;
                padding: 0;
                width: 100%;
                height: 45px;
                text-align: left;
            }

            div.checkbox-all {
                padding-left: 20px;
                padding-right: 20px;

                input[type=checkbox] + label span {
                    padding-left: 10px;
                }

                label span {
                    line-height: 45px;
                    margin-left: 0;
                }

                & + div.paging {
                    border-top: 1px dashed $border-color;
                }
            }

            div.paging {
                padding-left: 0;
                padding-right: 0;
                text-overflow: initial;

                ul.paging {
                    @include box-shadow(none !important);
                }
            }
        }

        &.back span.icomoon,
        &.empty span.icomoon {
            margin-right: 5px;
        }

        &.empty span {
            color: #ef5350;
            line-height: 45px;
            vertical-align: middle;
        }

        &.type-directory,
        &.type-file,
        &.empty {
            padding-left: 20px;
            padding-right: 20px;
        }

        &.type-directory {
            font-weight: bold;
        }

        &.type-directory,
        &.type-file {
            div.icon {
                display: inline-block;
                float: left;
                height: 45px;
            }

            & > a.chmod-permission,
            & > div.chmod-size {
                position: absolute;
                top: 0;
                right: 0;
                padding-right: 10px;

                span {
                    color: #d0d0d0;
                    line-height: 45px;
                }
            }

            a.chmod-permission:hover span,
            div.chmod-size a:hover span {
                color: #a0a0a0;
            }
        }

        &.back span.icomoon,
        &.empty span.icomoon,
        &.type-directory span.icomoon {
            color: #ffb300;
            font-size: 25px;
        }

        &.type-file {
            color: #606060;

            a:hover span.icomoon {
                color: #909090;
            }
        }

        &.type-file span.icomoon {
            margin-right: 10px;
        }

        &.back a,
        &.type-directory a.file-name,
        &.type-file a.file-name {
            display: inline-block;
            max-width: 45%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            &.file-name-of-app,
            strong.file-name-of-app {
                color: #909090;
            }
        }

        &.back a {
            max-width: 95%;
        }

        @media all and (min-width: 780px) {
            &.type-directory a.file-name,
            &.type-file a.file-name {
                max-width: 50%;
            }
        }

        @media all and (max-width: 340px) {
            &.type-directory a.file-name,
            &.type-file a.file-name {
                max-width: 40%;
            }
        }

        @media all and (max-width: 300px) {
            &.type-directory a.file-name,
            &.type-file a.file-name {
                max-width: 35%;
            }
        }
    }

    &.not-double {
        & > li {
            width: 100%;
            border-bottom: 1px dashed $border-color;

            &:nth-last-child(2),
            &:nth-last-child(3) {
                border-bottom: 1px dashed $border-color;
            }

            &:last-child {
                border-bottom: 0;
            }
        }
    }

    &.no-box-shadow {
        @include box-shadow(none !important);
    }
}

ul.file-info,
ul.file-info > li,
ul.file-info > li > ul,
ul.file-info > li > ul li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.file-info {
    background-color: #ffffff;
    margin-bottom: 15px;

    @include box-shadow(1px 1px 2px rgba(0, 0, 0, 0.15));

	width: 100%;
	text-align: left;

    & > li {
        &.title {
            padding: 10px;
            margin-bottom: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            & > span {
                color: #505050;
                font-weight: normal;
                font-size: 17px;
            }
        }

        &.label,
        &.value {
            display: inline-block;

            li,
            li {
                padding-left: 10px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        &.label {
            li {
                padding-left: 10px;
            }

            span {
                color: #00897b;
                font-weight: bold;
                font-size: $font-size;
            }
        }

        &.value,
        &.value span {
            color: #707070;
        }

        &.value {
            max-width: 70%;
        }

        &.image {
            width: 100%;
            height: auto;
            margin: 0;
            padding-top: 10px;
            padding-bottom: 30px;
            text-align: center;

            span {
                color: #c0c0c0;
            }

            img {
                max-width: 90%;
            }
        }

        li {
            height: 30px;

            & > span {
                line-height: 30px;
            }
        }

        @media all and (max-width: 480px) {
            &.value {
                max-width: 40%;
            }
        }

        @media all and (max-width: 720px) {
            &.value {
                max-width: 60%;
            }
        }
    }
}