ul.location-path,
ul.location-path li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.location-path {
    background-color: #ffffff;
    display: block;

    @include box-shadow(1px 1px 3px rgba(0, 0, 0, 0.20));

    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;

    li {
        height: 45px;
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        span {
            color: #505050;
            font-weight: bold;
            font-size: $font-size;
            line-height: 45px;
        }

        a:hover span,
        a:focus span {
            color: #909090;
            font-weight: bold;
        }
    }
}


ul.file-list,
ul.file-list > li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

ul.file-list {
    background-color: #ffffff;

    @include box-shadow(1px 1px 3px rgba(0, 0, 0, 0.20));

    margin: 0;
    margin-bottom: 15px;
    text-align: center;

    &.not-double {
        li {
            width: 100% !important;
        }
    }

    & > li {
        border-bottom: 1px dashed #e0e0e0;

        @include box-sizing(border-box);

        float: left;
        width: 50%;
        height: 45px;
        position: relative;
        padding-left: 12px;
        padding-right: 12px;
        text-align: left;

        &:last-child {
            border: 0;
        }

        & > a {
            line-height: 45px;
        }

        & a {
            &:hover {
                color: #909090;

                span,
                strong {
                    color: #909090;
                }

                span.icomoon {
                    color: #ffd300;
                }
            }
        }

        span.icomoon {
            font-size: 20px;
            margin-right: 5px;
            line-height: 45px;
            vertical-align: middle;
        }

        &.back,
        &.empty,
        &.paging,
        &.checkbox-all {
            margin: 0;
            width: 100%;
        }

        &.checkbox-all label span {
            line-height: 45px;
            margin-left: 0;
        }

        &.back span.icomoon,
        &.empty span.icomoon {
            margin-right: 5px;
        }

        &.empty span {
            color: #ef5350;
            line-height: 45px;
            vertical-align: middle;
        }

        &.paging {
            padding-left: 0;
            padding-right: 0;
            text-overflow: initial;
        }

        &.paging ul.paging {
            @include box-shadow(none !important);
        }

        &.type-directory,
        &.type-file,
        &.empty,
        &.checkbox-all {
            padding-left: 20px;
            padding-right: 20px;
        }

        &.checkbox-all input[type=checkbox] + label span {
            padding-left: 10px;
        }

        &.type-directory {
            font-weight: bold;
        }

        &.type-directory,
        &.type-file {
            div.icon {
                display: inline-block;
                float: left;
                height: 45px;
            }

            & > a.chmod-permission,
            & > div.chmod-size {
                position: absolute;
                top: 0;
                right: 0;
                padding-right: 10px;

                span {
                    color: #d0d0d0;
                    line-height: 45px;
                }
            }

            a.chmod-permission:hover span,
            div.chmod-size a:hover span {
                color: #a0a0a0;
            }
        }

        &.back span.icomoon,
        &.empty span.icomoon,
        &.type-directory span.icomoon {
            color: #ffb300;
            font-size: 25px;
        }

        &.type-file {
            color: #606060;

            a:hover span.icomoon {
                color: #909090;
            }
        }

        &.type-file span.icomoon {
            margin-right: 10px;
        }

        &.back a,
        &.type-directory a.file-name,
        &.type-file a.file-name {
            display: inline-block;
            max-width: 55%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &.back a {
            max-width: 95%;
        }

        @media all and (max-width: 340px) {
            &.type-directory a.file-name,
            &.type-file a.file-name {
                max-width: 55%;
            }
        }

        @media all and (max-width: 300px) {
            &.type-directory a.file-name,
            &.type-file a.file-name {
                max-width: 50%;
            }
        }

        @media all and (max-width: 780px) {
            & {
                width: 100%;
            }

            &.entry-odd a.chmod-permission,
            &.entry-odd div.chmod-size {
                right: 0;
            }
        }

        @media all and (min-width: 780px) {
            &.entry-odd {
                width: 100%;
            }

            &.entry-odd a.chmod-permission,
            &.entry-odd div.chmod-size {
                right: 50%;
            }

            &.entry-only-one a.file-name {
                max-width: 30%;
            }
        }
    }

    &.no-box-shadow {
        @include box-shadow(none !important);
    }
}

ul.file-info,
ul.file-info > li,
ul.file-info > li > ul,
ul.file-info > li > ul li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.file-info {
    background-color: #ffffff;
    margin-bottom: 15px;

    @include box-shadow(1px 1px 3px rgba(0, 0, 0, 0.20));

	width: 100%;
	text-align: left;

    & > li {
        &.title {
            padding: 10px;
            margin-bottom: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            & > span {
                color: #505050;
                font-weight: normal;
                font-size: 17px;
            }
        }

        &.label,
        &.value {
            display: inline-block;

            li,
            li {
                padding-left: 10px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        &.label {
            li {
                padding-left: 10px;
            }

            span {
                color: #00897b;
                font-weight: bold;
                font-size: $font-size;
            }
        }

        &.value,
        &.value span {
            color: #707070;
        }

        &.value {
            max-width: 70%;
        }

        &.image {
            width: 100%;
            height: auto;
            margin: 0;
            padding-top: 10px;
            padding-bottom: 30px;
            text-align: center;

            span {
                color: #c0c0c0;
            }

            img {
                max-width: 90%;
            }
        }

        li {
            height: 30px;

            & > span {
                line-height: 30px;
            }
        }

        @media all and (max-width: 480px) {
            &.value {
                max-width: 40%;
            }
        }

        @media all and (max-width: 720px) {
            &.value {
                max-width: 60%;
            }
        }
    }
}