div#container-login {
    padding-top: 10%;

    div#login,
    ul.alert {
        max-width: 320px;

        @media all and (min-width: 560px) {
            & {
                max-width: 320px;
            }
        }

        @media all and (min-width: 680px) {
            & {
                max-width: 480px;
            }
        }
    }

    ul.alert {
        margin-left: auto;
        margin-right: auto;
    }

    div#login {
        background-color: #ffffff;

        @include box-shadow(1px 1px 3px rgba(0, 0, 0, 0.20));

        margin: 0 auto;
        margin-bottom: 100px;
        padding: 0;
        position: relative;
    }

    form#login-form {
        > ul {
            display: block;
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: left;

            $height_input: 65px;
            $color_input: #a0a0a0;
            $color_focus_input: #505050;

            li.input {
                position: relative;

                input {
                    color: $color_input;
                    border: 0;
                    font-size: 15px;
                    height: $height_input;
                    display: block;
                    width: 100%;
                    padding-left: $height_input;
                    padding-right: $height_input / 2;

                    @include box-sizing(border-box);

                    + span.icomoon {
                        color: $color_input;
                        font-size: 20px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: $height_input;
                        height: $height_input;
                        line-height: $height_input;
                        text-align: center;
                    }

                    &:enabled:hover, &:enabled:focus {
                        color: $color_focus_input;

                        + span {
                            color: $color_focus_input;
                        }
                    }
                }

                &.captcha {
                    padding-right: ($height_input / 2) + 100px;

                    img {
                        position: absolute;
                        top: ($height_input - 45px) / 2;
                        right: $height_input / 2;
                    }
                }
            }

            li.checkbox {
                height: $height_input;
                position: relative;
                padding-left: $height_input;
                padding-right: $height_input / 2;

                label {
                    span {
                        height: $height_input;
                        line-height: $height_input;

                        a {
                            display: inline;

                            span {
                                color: #00897b;
                                height: $height_input;
                                line-height: $height_input;
                            }

                            &:hover span {
                                color: #009688 !important;
                            }
                        }
                    }

                    &::before {
                        color: $color_input;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: $height_input;
                        height: $height_input;
                        line-height: $height_input;
                        text-align: center;
                    }
                }
            }

            li.button {
                border-top: 1px dashed #e0e0e0;

                $height: 55px;

                button, a {
                    background-color: transparent;
                    border: 0;
                    outline: 0;
                    font-size: 15px;
                    font-family: $font-family;
                    display: inline-block;
                    width: 49%;
                    height: $height;
                    line-height: $height;
                    margin: 0;
                    padding: 0;
                    cursor: pointer;
                    text-align: center;

                    span {
                        color: #505050;
                    }

                    &:hover {
                        span {
                            color: #a0a0a0;
                        }
                    }
                }
            }
        }

        input {
            color: #a0a0a0;
            border: 0;

            @include box-sizing(border-box);

            display: block;
            margin: 0;
            padding: 15px;
            width: 100%;
            outline: 0;

            &:focus {
                color:  #303030;
            }

            &::-webkit-input-placeholder {
                color: #707070;
            }

            &:-ms-input-placeholder {
                color: #707070;
            }

            &:-moz-placeholder {
                color: #707070;
            }

            &::-moz-placeholder {
                color: #707070;
            }
        }
    }
}
