.markdown {
    color: #505050;

    > hr {
        border: 0;
        background-color: transparent;
        border-bottom: 1px solid #e0e0e0;
        width: 100%;
    }

    & > p {
        color: #505050;
    }

    & li {
        line-height: 22px;
    }

    & ol > li > ul,
    & ul > li > ul {
        list-style-type: disc;
    }

    h1 {
        font-size: 21px;
    }
}