.markdown {
    color: #505050;
}

.markdown > hr {
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
}

.markdown > p {
    color: #505050;
}

.markdown li {
    line-height: 22px;
}

.markdown ol > li > ul,
.markdown ul > li > ul {
    list-style-type: disc;
}