@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vax6ei');
  src:  url('fonts/icomoon.eot?vax6ei#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vax6ei') format('truetype'),
    url('fonts/icomoon.woff?vax6ei') format('woff'),
    url('fonts/icomoon.svg?vax6ei#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-update:before {
  content: "\e930";
}
.icon-help:before {
  content: "\e92e";
}
.icon-table:before {
  content: "\e921";
}
.icon-file-binary:before {
  content: "\e918";
}
.icon-copy:before {
  content: "\e917";
}
.icon-file:before {
  content: "\e90c";
}
.icon-back:before {
  content: "\e90a";
}
.icon-trash:before {
  content: "\e90b";
}
.icon-folder-download:before {
  content: "\e909";
}
.icon-folder-upload:before {
  content: "\e907";
}
.icon-folder-create:before {
  content: "\e908";
}
.icon-mysql:before {
  content: "\e903";
}
.icon-pencil:before {
  content: "\e920";
}
.icon-users:before {
  content: "\e972";
}
.icon-spinner:before {
  content: "\e980";
}
.icon-view:before {
  content: "\e9ce";
}
.icon-terminal:before {
  content: "\ea81";
}
.icon-plus:before {
  content: "\e922";
}
.icon-check:before {
  content: "\e92f";
}
.icon-feedback:before {
  content: "\e92d";
}
.icon-upload:before {
  content: "\e92c";
}
.icon-column:before {
  content: "\e924";
}
.icon-search:before {
  content: "\e912";
}
.icon-key:before {
  content: "\e911";
}
.icon-archive:before {
  content: "\e913";
}
.icon-download:before {
  content: "\e914";
}
.icon-edit:before {
  content: "\e915";
}
.icon-file-code:before {
  content: "\e919";
}
.icon-file-video:before {
  content: "\e91a";
}
.icon-file-audio:before {
  content: "\e91b";
}
.icon-file-archive:before {
  content: "\e91c";
}
.icon-file-image:before {
  content: "\e91d";
}
.icon-file-document:before {
  content: "\e945";
}
.icon-file-text:before {
  content: "\e946";
}
.icon-exit:before {
  content: "\e916";
}
.icon-folder:before {
  content: "\e90d";
}
.icon-folder-open-o:before {
  content: "\e90e";
}
.icon-folder-o:before {
  content: "\e90f";
}
.icon-folder-open:before {
  content: "\e910";
}
.icon-home:before {
  content: "\e906";
}
.icon-help2:before {
  content: "\e904";
}
.icon-about:before {
  content: "\e905";
}
.icon-config:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e900";
}
.icon-user:before {
  content: "\e901";
}
.icon-backup:before {
  content: "\e92a";
}
.icon-restore:before {
  content: "\e92b";
}
.icon-storage:before {
  content: "\e929";
}
.icon-checkbox_unchecked:before {
  content: "\e927";
}
.icon-checkbox_checked:before {
  content: "\e928";
}
.icon-radio_checked:before {
  content: "\e925";
}
.icon-radio_unchecked:before {
  content: "\e926";
}
.icon-theme:before {
  content: "\e91e";
}
.icon-select-arrows:before {
  content: "\e923";
}
.icon-cord:before {
  content: "\e91f";
}
